<?xml version="1.0" encoding="UTF-8" ?>
<Configuration strict="true">
	<Appenders>
		<Appender type="Console" name="console">
			<Layout type="PatternLayout" pattern="%d [%c] %p: %m%n"/>
		</Appender>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>
</Configuration>
